@CHARSET "UTF-8";
#content-new {
	margin-top: 15px;
}
#content-new a {
	color: #000;
}
.c1.wide {width: 610px}

ul.agregator {}
ul.agregator li {
	margin-bottom: 15px;
	background: transparent url("../img/agregator/document-page-next.png") 0 0 no-repeat;
	padding-left: 20px;
}
ul.agregator li a {
	display: block;
	font-size: 14px;
	text-decoration: none;
}
ul.agregator li a:hover {text-decoration: underline;}


#agregation-display {}
#agregation-display .head {
	font-family:"Baskerville","Georgia",serif;
	background: transparent url("../img/agregator/document.png") 0 5px no-repeat;
	padding-left: 20px;
}

#agregation-display .back    {}
#agregation-display .source  {color: silver; padding-left: 15px;}
#agregation-display .source a{color: inherit}
#agregation-display .more    {text-align: right;}

#agregation-display blockquote {
	padding: 15px 15px 5px 15px;
}
#agregation-display blockquote p {
	font-size:1.3em;
	line-height: 1.1em;
}
