# Konfiguracja środowiska rozruchowego
SetEnv BOOTSTRAP development

# Rodzaj konfiguracji aplikacji
SetEnv CATALOG_TYPE newweterynarze

RewriteEngine On

RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) index.php [L]