@CHARSET "UTF-8";

#bottom {text-align: center; clear: both;}
#bottom a {color: inherit;}
#promofoot {
	display:block;
	height: 32px;
}
#promofoot li {
	display: inline;
	list-style: none;
}

.small {font-size: .8em}

#googleMaps {
	margin-top:40px;
	width: 615px;
	height: 259px;
}