@CHARSET "UTF-8";

#bottom {text-align: center; clear: both;}
#bottom a {color: inherit;}
#promofoot {
	display:block;
	height: 32px;
}
#promofoot li {
	display: inline;
	list-style: none;
}

.small {font-size: .8em}
.strong {color: #751445}

#googleMaps {
	margin-top:40px;
	width: 615px;
	height: 259px;
}
#googleMaps.small {
	margin: 20px;
	width: 235px;
}

.show-additional {
	font-size:0.9em !important;
	margin-bottom:10px;
}
.show-additional .strong {font-weight: bold;}

.show-contact {
	cursor:pointer;
	color: blue;
	padding-top: 15px;
	font-weight: bold;
	line-height:1em;
	font-size: 18px !important;
}
	.show-contact em {
		display:block;
		font-style:normal;
		font-size: 12px;
	}
.show-contact:hover {text-decoration: underline;}
.show-phone {font-size: 1.2em; font-weight: bold;}
.show-info {
	line-height:1.5;
	background-color:#FFFFCC;
	border:1px solid red;
	font-size:10px;
	line-height:10px;
	padding:5px;
}

.list-info {}
.list-info dt {font-weight: bold;}
.list-info dd {margin-left: 30px; color: #751445}
.list-info a {
	color: #751445;
}

#loader {
	display: none;
	text-align:center;
	width: 200px;
	height:50px;
	
	line-height: 50px;
	
	position: absolute;
	top: 250px;
	left: 50%;
	margin-left: -300px;
	
	border: 5px solid #FFFBB5;
	background-color: #751445;
	
	z-index: 999;
}

.errors li {
	color: red;
}

.social {
	clear:both;
	text-align: center; 
	padding: 5px; 
	margin: 10px;
	border: 1px solid #f6f6f6;
	line-height:20px;

	background-color:#f3f3f3;
	
     -moz-border-radius: 10px; /* FF1+ */
  -webkit-border-radius: 10px; /* Saf3+, Chrome */
          border-radius: 10px; /* Opera 10.5, IE 9 */

     -moz-box-shadow: 0px 0px 2px #d2d2d2; /* FF3.5+ */
  -webkit-box-shadow: 0px 0px 2px #d2d2d2; /* Saf3.0+, Chrome */
          box-shadow: 0px 0px 2px #d2d2d2; /* Opera 10.5, IE 9.0 */
  
}
.social a {margin-left: 5px;}
.social img {
	vertical-align:middle;
	
}